.nav-link:hover {
    color: #FF5733;
}

.fa-cust:hover {
    font-size: 2em;
    transition: 0.3s ease-out;
    color: #FF5733 !important;
}

.color-light-black{
    background-color: #101010;
}

.text-color-aqua{
    color: #FF5733;
}