<div class="col s12 m3">
    <div class="card hoverable {{ post.cardcolor}}">
        <div class="card-image">
            <img src="{{site.url}}/assets/images/{{post.featured-img}}">
            <a class="btn-floating halfway-fab waves-effect waves-light red" href="{{ post.url | relative_url }}">
                <i class="material-icons">add</i>
            </a>
        </div>
        <div class="card-content white-text">
        <p>{{ post.title }}</p>
        </div>
    </div>
</div>