<!-- Footer start -->
<footer id="contact" class="page-footer grey darken-4 scrollspy">
    <div class="container center">
        <div class="row">
                <a class="btn-floating btn-large waves-effect waves-red white" href="https://plus.google.com/u/1/115914247882737881975"><i class="fa fa-google-plus black-text fa-3x"></i></a> <!-- Google+ -->
                <a class="btn-floating btn-large waves-effect waves-black white" href="https://github.com/FireLord1"><i class="fa fa-github black-text fa-3x"></i></a> <!-- Github -->
                <a class="btn-floating btn-large waves-effect waves-purple white" href="https://www.instagram.com/firelord_aman"><i class="fa fa-instagram black-text fa-3x"></i></a> <!-- Instagram -->
                <a class="btn-floating btn-large waves-effect waves-blue white" href="https://twitter.com/FireLord_Aman"><i class="fa fa-twitter black-text fa-3x"></i></a> <!-- Twitter -->
                <a class="btn-floating btn-large waves-effect waves-blue white" href="https://t.me/FireLord1"><i class="fa fa-telegram black-text fa-3x"></i></a> <!-- Telegram -->
                <a class="btn-floating btn-large waves-effect waves-red white" href="https://www.youtube.com/c/FireLord"><i class="fa fa-youtube black-text fa-3x"></i></a> <!-- Telegram -->
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2015-2017 Copyright FireLord
        </div>
    </div>
</footer>
<!-- Footer end -->