<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Import Google Icon Font -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Import materialize css -->
    <link type="text/css" rel="stylesheet" href="{{ '/assets/css/materialize.css' | relative_url }}" media="screen,projection" />

    <!-- Import Fonts css -->
    <link type="text/css" rel="stylesheet" href="{{ '/assets/css/firelord.css' | relative_url }}">

    <!-- Import fontawesome Icon Font-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Title -->
    <title>FireLord | {{ page.title }}</title>
</head>