<!-- Import jQuery before materialize.js -->
<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<!-- Import materialize.js -->
<script type="text/javascript" src="{{ '/assets/js/materialize.js' |  relative_url }}"></script>
<!-- Import prism.js -->
<script type="text/javascript" src="{{ '/assets/js/prism.js' |  relative_url }}"></script>
<!-- material-scrolltop button -->
<button class="material-scrolltop" type="button"></button>
<!-- material-scrolltop plugin -->
<script src="{{ '/assets/js/material-scrolltop.js' | relative_url }}"></script>
<!-- Initialize material-scrolltop with (minimal) -->
<script>
    $('body').materialScrollTop();
</script>
<!-- Enable carousel -->
<script type="text/javascript">
    $('.carousel.carousel-slider').carousel({ fullWidth: true });
</script>
<!-- Enable button collapse -->
<script type="text/javascript">
    $(".button-collapse").sideNav();
</script>
<!-- Enable scrollspy -->
<script type="text/javascript">
    $(document).ready(function () { $('.scrollspy').scrollSpy(); });
</script>
<!-- Enable sideNav -->
<script type="text/javascript">
    $(document).ready(function () {
        $('.sidenav').sidenav();
    });
</script>
<!-- Enable collapsible -->
<script type="text/javascript">
    $(document).ready(function () {
        $('.collapsible').collapsible();
    });
</script>