<!-- Import jQuery before materialize.js -->
<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<!-- Import materialize.js -->
<script type="text/javascript" src="{{ '/assets/js/materialize.js' |  relative_url }}"></script>
<script type="text/javascript">
    $('.carousel.carousel-slider').carousel({ fullWidth: true });
</script>
<script type="text/javascript">
    $(".button-collapse").sideNav();
</script>
<script type="text/javascript">
    $(document).ready(function () { $('.scrollspy').scrollSpy(); });
</script>
<script type="text/javascript">
    $(document).ready(function () {
        $('.sidenav').sidenav();
    });
</script>
<script type="text/javascript">
    $(document).ready(function () {
        $('.collapsible').collapsible();
    });
</script>