<!-- About hero --->
<div class="pt-5" id="scrollspyHeading2">
    <div class="container pt-5">
        <p class="text-secondary text-center fs-5 pt-2">Let me introduce myself</p>
        <u class="color-orange">
            <h1 class="text-light text-center display-1 fw-bold">About me 😎</h1>
        </u>
    </div>
</div>

<div class="container col-xxl-8 px-4 py-4">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-12 col-sm-8 col-lg-6">
            <img src="/assets/img/me.webp" class="d-block mx-auto img-fluid" width="600" height="1200" loading="lazy"
                alt="Aman Kumar">
        </div>
        <div class="col-lg-6">
            <p class="color-orange fs-5">Nice to meet you</p>
            <h1 class="display-5 fw-medium lh-1 mb-3 text-light">Android App Developer who loves to create beautiful apps</h1>
            <p class="lead color-off-white">
                Punctual and calm minded person who loves to learn new things about programming.
                A recognised developer at XDA for making android kernels and firmware for open source community. Love to
                explore things around linux system. I have good understanding of MVVM and Jetpack components resulting in highly 
                effective user-centred digital products.
            </p>
            <p class="lead color-off-white">👉 Into android app development</p>
            <p class="lead color-off-white">👉 DSA using python</p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                <a class="btn btn-bd-orange" href="/assets/doc/resume.pdf" role="button">Download Resume</a>
            </div>

            <!-- Personal Details -->
            <div class="row pt-3">
                <div class="col-12 col-md-6">
                    <p class="color-off-white"><b>Name:</b> Aman Kumar</p>
                </div>
                <div class="col-12 col-md-6">
                    <p class="color-off-white"><b>Email:</b><a class="color-orange ps-1"
                            href="mailto:amankumarmicro@gmail.com">amankumarmicro@gmail.com</a> </p>
                </div>
                <div class="col-12 col-md-6">
                    <p class="color-off-white"><b>Location:</b> Noida, UP</p>
                </div>
                <div class="col-12 col-md-6">
                    <p class="color-off-white"><b>Availability:</b> Open to work</p>
                </div>
            </div>

            {{- partial "socialIcon.html" . -}}
        </div>
    </div>
</div>