<!-- About hero --->
<div class="pt-5" id="scrollspyHeading2">
    <div class="container pt-5">
        <p class="text-secondary text-center fs-5 pt-2">Let me introduce myself</p>
        <u class="color-orange">
            <h1 class="text-light text-center display-1 fw-bold">About me 😎</h1>
        </u>
    </div>
</div>

<div class="container col-xxl-8 px-4 py-4">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-12 col-sm-8 col-lg-6">
            <img src="/assets/img/me.webp" class="d-block mx-auto img-fluid" width="600" height="1200" loading="lazy"
                alt="Aman Kumar">
        </div>
        <div class="col-lg-6">
            <p class="color-orange fs-5">Nice to meet you</p>
            <h1 class="display-5 fw-medium lh-1 mb-3 text-light">Mobile App Developer who loves to create beautiful apps
            </h1>
            <ul class="lead color-off-white">
                <li>
                    I&apos;m an iOS and Android developer with a strong foundation in both platforms. My expertise spans
                    languages and frameworks like SwiftUI, UIKit, CoreData, SwiftData, Hilt, Kotlin Multiplatform (KMP),
                    Room Database, and Jetpack Compose, equipping me to tackle a wide range of development challenges.
                </li>

                <li>I've developed and published apps for iOS, macOS, and Android, with several available on the App
                    Store and Play Store.
                </li>

                <li>
                    Previously, I was recognized as a Recognized Developer on XDA Developers for my contributions to Android kernels and firmware. 
                    I&apos;m a calm, punctual professional committed to delivering high-quality work every time.
                </li>
            </ul>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                <a class="btn btn-bd-orange" href="/assets/doc/resume.pdf" role="button">Download Resume</a>
            </div>

            <!-- Personal Details -->
            <div class="row pt-3">
                <div class="col-12 col-md-6">
                    <p class="color-off-white"><b>Name:</b> Aman Kumar</p>
                </div>
                <div class="col-12 col-md-6">
                    <p class="color-off-white"><b>Email:</b><a class="color-orange ps-1"
                            href="mailto:amankumarmicro@gmail.com">amankumarmicro@gmail.com</a> </p>
                </div>
                <div class="col-12 col-md-6">
                    <p class="color-off-white"><b>Location:</b> Gr Noida, UP</p>
                </div>
                <div class="col-12 col-md-6">
                    <p class="color-off-white"><b>Availability:</b> Open to work</p>
                </div>
            </div>

            {{- partial "socialIcon.html" . -}}
        </div>
    </div>
</div>