<!-- Experience -->
<div class="pt-5" id="experience">
    <div class="container pt-5">
        <p class="text-secondary text-center fs-5 pt-2">Corporate life!</p>
        <u class="color-orange">
            <h1 class="text-light text-center display-1 fw-bold">Experience 💼</h1>
        </u>
        
        <!-- Experience Details -->
        <div class="mt-5">
            <!-- SDE-1 - Inspire Dev Studio -->
            <div class="text-light mb-5">
                <h3 class="fw-bold">SDE-1</h3>
                <p class="text-secondary">Inspire Dev Studio | Full-Time | New Delhi, Delhi | July 2024 - Present</p>
                <ul class="ps-4 color-off-white">
                    <li>
                        <strong>CapCap App</strong>: Currently developing CapCap, a video editing app combining UIKit and SwiftUI, with over 1,000 active users. Implemented font styling and configuration options and developed onboarding and authentication SDKs using Swift Package Manager for modular integration across apps.
                    </li>
                    <li>
                        <strong>Translytic macOS App</strong>: Building Translytic, a macOS application in SwiftUI that simplifies and automates iOS string translations using AI.
                    </li>
                    <li>
                        <strong>Product Homepage</strong>: Developed a responsive, visually appealing homepage using Next.js and Tailwind CSS to enhance brand presence and showcase product features effectively.
                    </li>
                    <li>
                        <strong>Mobile Security</strong>: Implemented Firebase Cloud Functions with App Check using Node.js to secure backend services, ensuring only trusted app instances can interact with the API.
                    </li>
                </ul>
            </div>

            <!-- App Developer - AppSuccessor Media Pvt Ltd -->
            <div class="text-light mb-5">
                <h3 class="fw-bold">App Developer</h3>
                <p class="text-secondary">AppSuccessor Media Pvt Ltd | Internship | Noida, UP | September 2023 - June 2024</p>
                <ul class="ps-4 color-off-white">
                    <li>
                        Developed an iOS Soundscape app with SwiftUI and MVVM architecture, featuring soothing music playback and podcasts. Integrated Firebase for secure login and used Firestore and CoreData for data management.
                    </li>
                    <li>
                        Created an Android PDF Scanner app with advanced features like scanning, editing, and offline organization, utilizing CameraX, OpenCV, File handling, Hilt, and Room DB in MVVM architecture. Implemented custom image manipulation for easy adjustment of scanned images.
                    </li>
                    <li>
                        Developed Trakeat, a calorie tracking app in Jetpack Compose with Firebase authentication, Firestore, Room DB, Koin, and Retrofit with SSL pinning for secure API calls.
                    </li>
                    <li>
                        Refactored the Android Soundscape app, used by over 10K users, in Flutter, enhancing app speed by 70% and reducing bugs by 50%. Utilized GetX, ObjectBox DB, Get_it, and MVVM architecture.
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
