<!-- navbar -->
<nav class="navbar fixed-top nav-underline navbar-expand-lg navbar-dark color-light-black">
    <div class="container-fluid mx-5 mt-5">
        <a class="navbar-brand" href="#"><i class="fa-solid fa-fire fa-2xl color-orange"></i></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ms-auto fs-5">
                <a class="nav-link" href="#scrollspyHeading1">Home</a>
                <a class="nav-link" href="#scrollspyHeading2">About</a>
                <a class="nav-link" href="#scrollspyHeading3">Projects</a>
                <a class="nav-link" href="#scrollspyHeading4">Blog</a>
            </div>
        </div>
    </div>
</nav>