<!-- navbar -->
<nav class="navbar fixed-top nav-underline navbar-expand-lg navbar-dark color-light-black">
    <div class="container-fluid mx-5 mt-5">
        {{ if .IsHome }}
        <a class="navbar-brand" href="#"><i class="fa-solid fa-fire fa-2xl color-orange"></i></a>
        {{ else }}
        <a class="navbar-brand" href="javascript:history.back()"><i class="fa-solid fa-backward fa-2xl text-light"></i></a>
        {{ end }}
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ms-auto fs-5">
                <a class="nav-link" href="{{ .Site.BaseURL }}#home">Home</a>
                <a class="nav-link" href="{{ .Site.BaseURL }}#about">About</a>
                <a class="nav-link" href="{{ .Site.BaseURL }}#experience">Experience</a>
                <a class="nav-link" href="{{ .Site.BaseURL }}#projects">Projects</a>
                <a class="nav-link" href="{{ .Site.BaseURL }}#blog">Blog</a>
            </div>
        </div>
    </div>
</nav>