<!--Project-->
<div class="pt-5" id="projects">
    <div class="container pt-5">
        <p class="text-secondary text-center fs-5 pt-2">Some of my work!</p>
        <u class="color-orange">
            <h1 class="text-light text-center display-1 fw-bold">Projects 🧑🏻‍💻</h1>
        </u>
    </div>

    <div class="container px-4 py-5">
        <div class="row row-cols-1 row-cols-md-2 g-4">
            {{ range ( where .Site.RegularPages "Type" "projects" ) }}
            <div class="col">
                <div class="card">
                    <img src="/assets/img/{{ .Params.img }}" width="200" height="300" class="card-img-top img-fluid"
                        alt="Project photos">
                    <div class="card-body">
                        <h5 class="card-title">{{ .Title }}</h5>
                        <p class="card-text">{{ .Params.tech }}</p>
                        <button type="button" class="btn btn-bd-orange" data-bs-toggle="modal"
                            data-bs-target="#{{ .File.BaseFileName }}">
                            View Work →
                        </button>

                        <!-- Modal -->
                        <div class="modal fade" id="{{ .File.BaseFileName }}" tabindex="-1"
                            aria-labelledby="{{ .File.BaseFileName }}Label" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="{{ .File.BaseFileName }}Label">{{ .Title }}
                                        </h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        {{ .Content }}
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Close</button>
                                        {{ if .Params.github }}
                                        <a href="{{.Params.github}}" type="button" class="btn btn-bd-orange"
                                            target="_blank">Github Repo</a>
                                        {{ else }}
                                        {{ if .Params.liveLink }}
                                        <a href="{{.Params.liveLink}}" type="button" class="btn btn-bd-orange"
                                            target="_blank">Check out</a>
                                        {{ end }}
                                        {{ end }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{ end }}
        </div>
    </div>
</div>