<!-- Social icons -->
<div class="row">
    <nav class="nav">
        <a class="nav-link pb-3" href="https://www.twitter.com/FireLord_Aman" target="_blank">
            <i class="fa-brands fa-twitter fa-xl fa-cust text-light"></i></a>
        <a class="nav-link pb-3" href="https://www.instagram.com/firelord_aman" target="_blank">
            <i class="fa-brands fa-instagram fa-xl fa fa-cust text-light"></i></a>
        <a class="nav-link pb-3" href="https://www.linkedin.com/in/amankumar035" target="_blank">
            <i class="fa-brands fa-linkedin fa-xl fa-cust text-light"></i></a>
        <a class="nav-link pb-3" href="https://www.github.com/FireLord" target="_blank">
            <i class="fa-brands fa-github fa-xl fa-cust text-light"></i></a>
        <a class="nav-link pb-3" href="https://www.youtube.com/c/FireLord" target="_blank">
            <i class="fa-brands fa-youtube fa-xl fa-cust text-light"></i></a>
    </nav>
</div>